anthropic==0.69.0
evaluate==0.4.6
fitz==0.0.1.dev2
matplotlib==3.10.6
networkx==3.5
numpy==2.3.3
openai==2.1.0
pandas==2.3.3
Pillow==11.3.0
protobuf==6.32.1
pytesseract==0.3.13
pyvis==0.2.0
rouge_score==0.1.2
seaborn==0.13.2
streamlit==1.49.1
textstat==0.7.10
torch==2.5.1
tqdm==4.67.1
transformers==4.56.1
